$body: #f5feff;

$primary: #DFD;
$danger: #FDD;
$grid: #AAA;
$yellow: #FFB;

$demandCardHeight: 200px;
$demandCardWidth: 120px;

$lineHeight: 30px;
$plannerLineHeight: 60px;

body {
  background-color: $body;
  margin-top: 15px;
  margin-bottom: 10px;
}

h1 {
  font-size: 32px;

  span {
    font-size: 16px;
    font-weight: normal;
    display: block;
    float: right;
    padding-top: 10px;
  }
}

h2 {
  font-size: 28px;
  margin-top: 20px;
  font-weight: 300;
}

.btn {
  outline-width: 0px !important;

  &, &:hover, &:active, &:visited, &:focus, &:focus:active {
    color: #000;
  }

  &.btn-primary {
    background-color: $primary;
    border-color: $primary - #111;
    &:hover {
      background-color: $primary - #111;
      border-color: $primary - #111;
    }
    &:active, &:focus, &:focus:active {
      background-color: $primary - #222;
      border-color: $primary - #111;
    }
  }

  &.btn-danger {
    background-color: $danger;
    border-color: $danger - #111;
    &:hover {
      background-color: $danger - #111;
      border-color: $danger - #111;
    }
    &:active, &:focus, &:focus:active {
      background-color: $danger - #222;
      border-color: $danger - #111;
    }
  }
}

.table thead th {
  border-bottom: 2px solid $grid;
  border-top: none;
}

.table td {
  border-top: 1px solid $grid;
}

.fade {
  opacity: 1;
}

.modal-body {
  .with-image {
    min-height: 180px;
  }
  nav {
    margin: 5px 0 20px 0;

    a {
      padding: 4px 10px;
      margin-right: 4px;
      border: solid 1px $grid;
      cursor: pointer;

      &.active {
        background-color: $body - #444;
      }
    }
  }
}

.modal-backdrop.fade {
    opacity: 0.2;
}

.modal-dialog {
  top: 100px;
}

.tooltip {
  opacity: 1;

  .tooltip-inner {
    margin-right: 4px;
    min-width: 200px;
    max-width: 500px;
    font-size: 12px;
    font-weight: 200;
    border: solid 1px $grid;
    background-color: #FFF;
    color: #000;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }
}






i.initiative {
  font-style: normal;
  display: inline-block;
  height: 27px;
  padding: 0 2px;
  white-space: nowrap;
  overflow: hidden;

  .schedule div & {
    position: absolute;
    overflow: hidden;
    opacity: 0.8;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  }
}

.assignments, .accounts, .planner {
  max-height: 200px;
  // border: solid 1px $grid;

  .schedule {
    overflow-x: auto;
    padding-left: 0;

    ol {
      position: absolute;
      padding: 0 0 0 3px;
      top: 0px;
      font-size: 11px;
      white-space: nowrap;

      li {
        list-style: none;
        display: inline-block;
        width: 60px;
        padding: 1px 4px;

        &.today {
          color: red;
          border-color: #F88;
        }
        &.marker {
          color: #000;
          border-color: #CCC;
        }
        &.today, &.marker {
          margin-left: -2px;
          position: absolute;
          width: auto;
          font-weight: 600;
          background-color: #FFF;
          border: solid 1px;
          border-width: 1px 1px 1px 2px;
          padding-top: 0px;
          box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
        }
      }
    }
  }

  .people, .schedule > div, .candidates, .demands {
    padding-top: 20px;

    div.line {
      height: $lineHeight;
      border-top: solid 1px $grid;
      padding-top: 1px;
      white-space: nowrap;
      overflow: hidden;

      @for $i from 0 through 100 {
        &.an#{$i+1} {
          height: $lineHeight + ($i * ($lineHeight - 2));
        }
        span:nth-child(#{$i + 1}) i {
          margin-top: ($i * ($lineHeight - 2));
        }
      }
      .nb {
        background: repeating-linear-gradient(
          54deg,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0) 10px,
          rgba(0, 0, 0, 0.1) 10px,
          rgba(0, 0, 0, 0.1) 20px
        );
      }
    }
  }

  .people, .schedule, .candidates, .demands {
    padding-left: 0;
    padding-right: 0;
  }

  .people, .demands, .candidates {
    i.fa {
      font-size: 80%;
      opacity: 0.8;
      font-weight: 100;
      color: red;
    }
  }

  .demands {
    padding-top: $demandCardHeight;

    div.line {
      height: $plannerLineHeight;
    }

    &.lines div.covered {
      background-color: $primary;
    }
  }

  .candidates {
    padding-top: 0;
    overflow-x: auto;
    white-space: nowrap;

    .lines {
      margin-top: $demandCardHeight;

      i.fa {
        font-size: 100%;
      }

      & ol {
        margin-bottom: 0;
        padding-left: 0;
        height: $demandCardHeight;
        margin-top: -$demandCardHeight;
        position: absolute;
        z-index: 100;

        &.sticky li {
          border-bottom: solid 1px $grid;
          box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
        }

        li {
          &:first-child {
            border-left: solid 1px $grid;
          }

          @for $i from 0 through 30 {
            &:nth-child(#{$i + 1}) {
              left: ($demandCardWidth * $i);
            }
          }

          &.billable {
            background-color: $danger;
            &.assigned {
              background-color: $yellow;
            }
          }

          &.assigned {
            background-color: $primary;
          }

          img {
            width: $demandCardWidth - 10px;
            margin: 0;
            float: initial;
          }

          background-color: $body - #111;
          border-right: solid 1px $grid;
          width: $demandCardWidth;
          height: $demandCardHeight;
          position: absolute;
          white-space: normal;
          overflow: hidden;
          font-size: 14px;
          line-height: 1.4;
          font-weight: 500;
          text-align: center;
          padding: 5px;
          list-style: none;

          span {
            display: block;
            font-size: 80%;
            font-weight: 200;
          }

          div.status {
            position: absolute;
            bottom: 0;
            border-top: solid 1px $grid;
            width: $demandCardWidth - 10px;
            height: 30px;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 10px;
            font-weight: 200;
            text-align: left;
          }
        }
      }

      div.line {
        height: $plannerLineHeight;
        padding-top: 0;
        overflow: visible;

        div {
          text-align: center;
          width: $demandCardWidth;
          height: ($plannerLineHeight - 1);
          border: solid $grid;
          border-width: 0 1px 0 0;
          display: inline-block;
          font-size: 24px;
          padding-top: 12px;

          &:first-child {
            border-left-width: 1px;
          }

          &.matched {
            background-color: $primary;
            i.fa {
              color: $primary - #888;
            }
          }
        }
      }
    }

  }


}

dl.attributes {
  dt {
    float: left;
  }
  dd {
    padding-left: 140px;

    &:empty:after {
      content: "-";
    }

    ul {
      padding-left: 0px;
      margin-bottom: 0px;

      li {
        list-style: none;
        &:empty {
          display: none;
        }
      }
    }
  }
  hr {
    display: flex;
  }
}

.form-row {
  .form-group {
      &:first-child {
        padding-left: 0px;
      }
      &:last-child {
        padding-right: 0px;
      }
  }
}

ul.sync {
  padding: 20px 0 0 0;

  li {
    padding: 4px 0px;
    text-transform: uppercase;
    list-style: none;
  }
}

.accounts, .planner {
  .people, .demands {
    .account {
      border-top: solid 2px $grid;

      h3 {
        font-size: 24px;
        white-space: nowrap;
        height: 40px;
        font-weight: 600;
        display: block;
        margin: 0;
        padding-top: 6px;
      }

      span {
        display: block;
        font-size: 64%;
        font-weight: 600;

        &:nth-child(2) {
          font-weight: 400;
        }
      }
    }
  }
  .schedule, .candidates {
    .account {
      border-top: solid 2px $grid;
      padding-top: 40px;
    }
  }
}

div.corner {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 10px solid $grid;
  border-left: 10px solid transparent;
  bottom: 0;
  right: 0;
}

img.avatar {
  float: right;
  margin: 0 0 10px 10px;
}

.log {
  height: 200px;
  overflow-y: auto;
  overflow-x: none;

  li {
    list-style: none;
  }
}

.filter {
  .btn {
    width: 35px;
    padding: 8px;
  }
  .dropdown-toggle::after {
    margin-left: 0px;
  }
}

.report {
  table, td, th {
    font-size: 14px;
    border: solid $grid;
  }

  table {
    border-width: 0 1px 1px 0;

    td {
      font-weight: 100;
      text-align: center;
    }

    th {
      font-weight: 400;
      background-color: #EEE;

      &:nth-child(n+2) {
        text-align: center;
      }
    }

    td, th {
      padding: 4px;
      border-width: 1px 0 0 1px;
    }
  }
}

.comments {
  max-height: 400px;
  overflow-y: auto;

  ol {
    padding-left: 0;

    li {
      list-style: none;
      padding: 10px 0 10px 100px;
      margin: 0;

      &.status {
        background-color: $primary;
      }

      &:nth-child(n+2) {
        border-top: solid 1px $grid;
      }

      div.date {
        float: left;
        margin-left: -90px;
        font-size: 12px;
        font-weight: 600;
        span {
          display: block;
          text-align: center;
        }
      }

      p {
        margin-bottom: 4px;

        &.source {
          font-weight: 600;
          font-size: 12px;
        }
      }
    }
  }
}