
body {
  background-color: #f5feff;
  margin-top: 15px;
  margin-bottom: 10px;
}

.table thead th {
  border-bottom: 2px solid #888;
  border-top: none;
}

.table td {
  border-top: 1px solid #AAA;
}

i.initiative {
  font-style: normal;
  display: inline-block;
  height: 27px;
  padding: 0 2px;
  white-space: nowrap;
  overflow: hidden;

  .schedule div & {
    position: absolute;
    overflow: hidden;
    opacity: 0.8;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  }
}

.assignments, .accounts {
  max-height: 200px;
  // border: solid 1px #AAA;

  .schedule {
    overflow-x: auto;
    padding-left: 0;

    ol {
      position: absolute;
      padding: 0 0 0 3px;
      top: 0px;
      font-size: 11px;
      white-space: nowrap;

      li {
        list-style: none;
        display: inline-block;
        width: 60px;
        padding: 1px 4px;

        &.today {
          color: red;
          border-color: #F88;
        }
        &.marker {
          color: #000;
          border-color: #CCC;
        }
        &.today, &.marker {
          margin-left: -2px;
          position: absolute;
          width: auto;
          font-weight: 600;
          background-color: #FFF;
          border: solid 1px;
          border-width: 1px 1px 1px 2px;
          padding-top: 0px;
          box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
        }
      }
    }
  }

  .people, .schedule > div {
    padding-top: 20px;

    div.line {
      height: 30px;
      border-top: solid 1px #AAA;
      padding-top: 1px;
      white-space: nowrap;
      overflow: hidden;

      @for $i from 0 through 100 {
        &.an#{$i+1} {
          height: 30px + ($i * 28);
        }
        span:nth-child(#{$i + 1}) i {
          margin-top: ($i * 28px);
        }
      }
      .nb {
        background: repeating-linear-gradient(
          54deg,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0) 10px,
          rgba(0, 0, 0, 0.1) 10px,
          rgba(0, 0, 0, 0.1) 20px
        );
      }
    }
  }

  .people, .schedule {
    padding-left: 0;
    padding-right: 0;
  }

}

.fade {
  opacity: 1;
}

.modal-body.with-image {
  min-height: 180px;
}

.modal-backdrop.fade {
    opacity: 0.2;
}

.modal-dialog {
  top: 100px;
}

dl.attributes {
  dt {
    float: left;
  }
  dd {
    padding-left: 120px;

    &:empty:after {
      content: "-";
    }
  }
  hr {
    display: flex;
  }
}

.form-row {
  .form-group {
      &:first-child {
        padding-left: 0px;
      }
      &:last-child {
        padding-right: 0px;
      }
  }
}

ul.sync {
  padding: 20px 0 0 0;

  li {
    padding: 4px 0px;
    text-transform: uppercase;
    list-style: none;
  }
}

.accounts {

  .initiative-item {
    border-top: solid 2px #888;

    span {
      font-size: 24px;
      white-space: nowrap;
      height: 40px;
      font-weight: 600;
      display: block;
    }
  }
  .schedule {
    .account {
      border-top: solid 2px #888;
      padding-top: 40px;
    }
  }
}

img.avatar {
  float: right;
  margin: 0 0 10px 10px;
}