/* You can add global styles to this file, and also import other style files */

body {
  margin-top: 15px;
  margin-bottom: 10px;
}

form {
  margin-top: 50px;

	.input-group {
	  margin-bottom: 15px;
	}
}


i.initiative {
  font-style: normal;
  display: inline-block;
  height: 27px;

  .schedule div & {
    position: absolute;
    overflow: hidden;
    opacity: 0.8;
  }
}

.assignments {
  max-height: 200px;
  // border: solid 1px #AAA;

  .schedule {
    overflow-x: auto;
    padding-left: 0;

    ol {
      position: absolute;
      padding: 0 0 0 3px;
      top: -3px;
      font-size: 11px;
      white-space: nowrap;

      li {
        list-style: none;
        display: inline-block;
        width: 60px;

        &.today {
          position: absolute;
          width: auto;
          color: red;
          font-weight: 600;
          background-color: rgba(255,255,255,0.8);
          border-radius: 2px;
        }
      }
    }
  }

  .people, .schedule > div {
    padding-top: 20px;

    div {
      height: 30px;
      border-top: solid 1px #AAA;
      padding-top: 1px;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .people, .schedule {
    padding-left: 0;
    padding-right: 0;
  }

}