<div>
  <h4>Accounts</h4>

  <assignment-modal [resources]="resourcesById" [initiatives]="initiatives"></assignment-modal>

  <person-modal></person-modal>

  <demand-modal></demand-modal>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10"></div>
  </div>

  <div class="accounts row" *ngIf="getAccounts().length">
    <div class="people col-md-2">
      <div class="initiative-item" *ngFor="let account of getAccounts()">
        <span>{{ account }}</span>
        <div class="lines">
          <div
            *ngFor="let initiative of accountInitiatives[account]; let i = index"
            class="line"
            [ngClass]="getAssignmentsCount(initiative)"
          >{{ initiative.name }}</div>
        </div>
      </div>
    </div>
    <div class="schedule col-md-10" #schedule>
      <div [ngStyle]="getScheduleStyles()" class="lines">
        <ol>
          <li class="today" [ngStyle]="{left: todayOffset + 2 + 'px'}">{{ todayCaption }}</li>
          <li *ngFor="let week of weekTitles">{{ week }}</li>
        </ol>
        <div *ngFor="let account of getAccounts()" class="account">

          <div
            *ngFor="let initiative of accountInitiatives[account]; let i = index"
            class="line"
            [ngClass]="getAssignmentsCount(initiative)"
          >
            <span *ngFor="let personId of getPersonInitiativeAssignments(initiative)">
              <initiative
                *ngFor="let assignment of initiativeAssignments[initiative._id][personId]"
                [data]="getAssignment(assignment)"
                (click)="showAssignment(assignment)"
              ></initiative>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>