<div>
  <div class="alert alert-info message" *ngIf="message">{{ message }}</div>
  <h1>Accounts</h1>

  <assignment-modal [resources]="resourcesById" [initiatives]="initiatives"></assignment-modal>

  <person-modal></person-modal>

  <demand-modal></demand-modal>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10"></div>
  </div>

  <div class="accounts row" *ngIf="getAccounts().length">
    <div class="people col-md-2">
      <div class="account" *ngFor="let account of getAccounts()">
        <h3>{{ account }}</h3>
        <div class="lines">
          <div
            *ngFor="let initiative of getAccountInitiatives(account); let i = index"
            class="line"
            [ngClass]="getAssignmentsCount(initiative)"
          >{{ getInitiativeCaption(initiative) }}</div>
        </div>
      </div>
    </div>
    <div class="schedule col-md-10" #schedule>
      <div
        [ngStyle]="getScheduleStyles()"
        class="lines"
        (click)="setMarker($event)"
      >
        <ol>
          <li class="today" [ngStyle]="makeCaptionStyles(todayOffset)">{{ todayCaption }}</li>
          <li class="marker" [ngStyle]="makeCaptionStyles(markerDateOffset)">{{ markerDateCaption }}</li>
          <li *ngFor="let week of weekTitles">{{ week }}</li>
        </ol>
        <div *ngFor="let account of getAccounts()" class="account">

          <div
            *ngFor="let initiative of getAccountInitiatives(account); let i = index"
            class="line"
            [ngClass]="getAssignmentsCount(initiative)"
          >
            <span *ngFor="let personId of getPersonInitiativeAssignments(initiative)">
              <initiative
                *ngFor="let assignment of initiativeAssignments[initiative._id][personId]"
                [data]="getAssignment(assignment)"
                (click)="showAssignment(assignment, $event)"
              ></initiative>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>