<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="stage" [ngClass]="demand.stage"><span>{{ getId() }}</span></div>
    <div>
      <h4 class="modal-title">
        Demand for {{ demand.specializations }} {{ demand.profile }}
        <a [href]="getStaffingToolLink()" *ngIf="getStaffingToolLink()" target="_st"><i class="fa fa-external-link-square"></i></a>
      </h4>
      <h6 *ngIf="!notFound">
        on {{ demand.project }} project of {{ demand.account }} account
      </h6>
      <badger [itemId]="demand.login"></badger>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="comments-modal modal-body">
    <ngb-tabset (tabChange)="tabChange($event)" #tabs="ngbTabset" *ngIf="!isLoading && !notFound" [activeId]="activeId">
      <ngb-tab title="Details" id="assignment">
        <ng-template ngbTabContent>
          <demand-tab [demand]="demand"></demand-tab>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Notes" id="comments">
        <ng-template ngbTabContent>
          <comments-tab [key]="demand.login" [callback]="callback"></comments-tab>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="History" id="history">
        <ng-template ngbTabContent>
          <history-tab [key]="demand.login"></history-tab>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Requisition" id="discrepancies" *ngIf="requisitionDiff">
        <ng-template ngbTabContent>
          <demand-requisition-tab [comparison]="requisitionDiff"></demand-requisition-tab>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Project" id="project">
        <ng-template ngbTabContent>
          <account-project-tab [account]="demand.account" [initiative]="demand.project"></account-project-tab>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    <div *ngIf="notFound">Active demand #{{ getId() }} not found</div>
  </div>
</ng-template>