<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="stage" [ngClass]="demand.stage">{{ getId() }}</div>
    <h4 class="modal-title">
      Demand for {{ demand.specializations }} {{ demand.profile }}
    </h4>
    <h6>
      on {{ demand.project }} project of {{ demand.account }} account
    </h6>
  </div>
  <div class="comments-modal modal-body">
    <ngb-tabset (tabChange)="tabChange($event)" #tabs="ngbTabset" *ngIf="!isLoading">
      <ngb-tab title="Details" id="assignment">
        <ng-template ngbTabContent>
          <demand-tab [demand]="demand"></demand-tab>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Notes" id="notes">
        <ng-template ngbTabContent>
          <comments-tab [key]="demand.login"></comments-tab>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="History" id="history">
        <ng-template ngbTabContent>
          <history-tab [key]="demand.login"></history-tab>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</ng-template>