<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <avatar [login]="person.login"></avatar>
    <h4 class="modal-title">
      {{ person.name }}
      <ng-container *ngIf="isTrue(person.onTrip)">(on a business trip)</ng-container>
      <ng-container *ngIf="!!person.onVacation">(on vacation)</ng-container>
      <a [href]="getPmoLink()" *ngIf="getPmoLink()" target="_blank"><i class="fa fa-external-link-square"></i></a>
    </h4>
    <h6>
      <span class="comma-after">{{ person.grade }}</span>
      {{ person.profile || '-' }}
      <span *ngIf="person.specialization"> ({{ person.specialization }})</span>
    </h6>
  </div>
  <div class="comments-modal modal-body">
    <ngb-tabset (tabChange)="tabChange($event)" #tabs="ngbTabset" [activeId]="activeId" *ngIf="!isLoading">
      <ngb-tab title="Profile" id="profile">
        <ng-template ngbTabContent>
          <user-tab [person]="person"></user-tab>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Notes" id="comments">
        <ng-template ngbTabContent>
          <comments-tab [key]="person.login" [callback]="callback"></comments-tab>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Assignments" id="assignments" [disabled]="!person.pmoId">
        <ng-template ngbTabContent>
          <assignments-tab [pmoId]="person.pmoId" [state]="state"></assignments-tab>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Project" id="project">
        <ng-template ngbTabContent>
          <account-project-tab [pmoId]="person.pmoId" [state]="state"></account-project-tab>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Skills" id="skills">
        <ng-template ngbTabContent>
          <skills-tab [login]="person.login" [state]="state"></skills-tab>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Career" id="career" [disabled]="!person.bambooId">
        <ng-template ngbTabContent>
          <career-tab [bambooId]="person.bambooId" [state]="state"></career-tab>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Feedbacks" id="feedbacks">
        <ng-template ngbTabContent>
          <feedbacks-tab [userId]="person.login" [state]="state"></feedbacks-tab>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="History" id="history">
        <ng-template ngbTabContent>
          <history-tab [key]="person.login" [state]="state"></history-tab>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</ng-template>