<div class="filter form-row">
	<div class="form-group col-md-7">
    <div class="input-group">
  	  <input
        (keyup)="parseCriteria($event)"
        type="text"
        class="form-control"
        placeholder="key1=value1,key2=value2,..."
        [(ngModel)]="criteria"
        #criteriaElement
      >
    </div>
    <small class="pull-right form-text text-muted">
      <i class="fa fa-clock-o"></i> Shift days:
      <ul class="times">
        <li *ngFor="let days of [7, 14, 21, 30, 60, 120]">
          <a [ngClass]="{active: timeShift===days}" (click)="setTimeShift(days)">{{ days }}</a></li>
        <li><a (click)="setTimeShift(0)">&times;</a></li>
      </ul>
    </small>
	  <small class="form-text text-muted clickable" (click)="toggleHelp()">
      <i class="fa fa-info-circle clickable"></i>
      Filtering query
    </small>
	</div>
  <div class="form-group col-md-5">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="E.g. [Report] T3 Engineers"
        [(ngModel)]="title"
      >
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary" *ngIf="title" (click)="save()" title="Save">
          <i class="fa fa-check"></i>
        </button>
        <button type="button" class="btn btn-secondary" *ngIf="selectedFilter._id" (click)="delete()" title="Delete">
          <i class="fa fa-times"></i>
        </button>
        <button type="button" class="btn btn-secondary" *ngIf="selectedFilter._id" (click)="reset()" title="Clone">
          <i class="fa fa-clipboard"></i>
        </button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Show filters</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a
            class="dropdown-item"
            *ngFor="let filter of getFilters()"
            (click)="select(filter)"
          >{{ filter.title }}</a>
        </div>
      </div>
    </div>
    <small class="form-text text-muted">Filter title</small>
  </div>
</div>
<div class="row col-md-12">
  <help *ngIf="isHelpShown" (populate)="populate($event)"></help>
</div>
