<div class="main">

  <nav class="navbar navbar-light">
    <div class="nav navbar-nav">
      <a
        [routerLink]="['assignments']"
        class="nav-item nav-link"
        routerLinkActive="active"
      >
        Assignments
      </a>
      <a
        [routerLink]="['accounts']"
        class="nav-item nav-link"
        routerLinkActive="active"
      >
        Accounts
      </a>
      <a
        [routerLink]="['people']"
        class="nav-item nav-link"
        routerLinkActive="active"
      >
        People
      </a>
      <a
        [routerLink]="['hiring']"
        class="nav-item nav-link"
        routerLinkActive="active"
      >
        Hiring
      </a>
      <a
        [routerLink]="['planner']"
        class="nav-item nav-link"
        routerLinkActive="active"
      >
        Planner
      </a>
      <a
        [routerLink]="['dp']"
        class="nav-item nav-link"
        routerLinkActive="active"
      >
        <i class="deadpool"></i>
      </a>
      <a
        [routerLink]="['sync']"
        class="nav-item nav-link"
        routerLinkActive="active"
      >
        Sync
      </a>
      <a
        [routerLink]="['login']"
        class="nav-item nav-link"
        routerLinkActive="active"
        *ngIf="!auth.loggedIn"
      >
        Login
      </a>
      <a
        [routerLink]="['register']"
        class="nav-item nav-link"
        routerLinkActive="active"
        *ngIf="!auth.loggedIn"
      >
        Register
      </a>

      <div class="pull-right">
        <a [routerLink]="['account']" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
          <i class="fa fa-user-circle-o"></i> Account ({{auth.currentUser.username}})
        </a>
        <a [routerLink]="['admin']" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
          Admin
        </a>
        <a [routerLink]="['logout']" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
          Logout
        </a>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <assignment-modal-new></assignment-modal-new>

</div>