<div class="assignments row">
  <div class="col-md-5">
    <h5>Assignments</h5>
    <ul>
      <li *ngFor="let assignment of person.assignments" [ngClass]="getAssignmentClass(assignment)">
        <a (click)="select(assignment)">{{ assignment.account }}</a>
      </li>
    </ul>
  </div>
  <div class="col-md-7">
    <h5>&nbsp;</h5>
    <dl class="attributes">
      <dt>Account</dt>
      <dd>{{ shownAssignment.account }}</dd>

      <dt>Initiative</dt>
      <dd>{{ shownAssignment.initiative }}</dd>

      <dt>Dates</dt>
      <dd>{{ shownAssignment.start|date }} - {{ shownAssignment.end|date }}</dd>

      <dt>Billability</dt>
      <dd>{{ shownAssignment.billability }}</dd>

      <dt>Involvement</dt>
      <dd>{{ shownAssignment.involvement }}%</dd>

      <dt>Comment</dt>
      <dd>{{ shownAssignment.comment }}</dd>
    </dl>
  </div>
</div>
