<spinner [isShown]="isLoading">
  <div class="carreer row">
    <div class="col-md-6">
      <h2>Grades</h2>
      <table class="table">
        <tr *ngFor="let grade of carreer.grades">
          <td>{{ grade.customDate|date }}</td>
          <td>
            {{ grade.customGrade }}, {{ grade.customProfile }}
            <span *ngIf="grade.customSpecialization">/ {{ grade.customSpecialization }}</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <h2>Ordinance</h2>
      <table class="table">
        <tr *ngFor="let job of carreer.jobs">
          <td>{{ job.date|date }}</td>
          <td>{{ job.department }} ({{ job.reportsTo }})</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="carreer row">
    <div class="col-md-4">
      <h2>Compensations</h2>
      <table class="table">
        <tr *ngFor="let rate of carreer.compensations">
          <td>{{ rate.startDate|date }}</td>
          <td>{{ rate.rate.value }} {{ rate.rate.currency }}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-8">
      <h2>&nbsp;</h2>
      <canvas baseChart height="200"
        [datasets]="lineChart.data"
        [labels]="lineChart.labels"
        [options]="lineChart.options"
        [colors]="lineChart.colors"
        [legend]="lineChart.legend"
        [chartType]="lineChart.type"></canvas>
    </div>
  </div>
</spinner>
