<div class="demand row">
  <div class="col-md-5">
    <dl class="attributes">
      <dt>Account</dt>
      <dd>{{ demand.account }}</dd>

      <dt>Initiative</dt>
      <dd>{{ demand.project }}</dd>

      <dt>Pool</dt>
      <dd>{{ demand.pool }}</dd>

      <dt>Dates</dt>
      <dd>{{ demand.start|date }} - {{ demand.end|date }}</dd>

      <dt>Duration</dt>
      <dd>{{ demand.duration }} weeks</dd>

      <dt>Grades</dt>
      <dd>{{ demand.grades }}</dd>

      <dt>Locations</dt>
      <dd>{{ demand.locations }}</dd>

      <dt>Deployment</dt>
      <dd>{{ demand.deployment }}</dd>

      <dt>Billability</dt>
      <dd>{{ demand.role }}</dd>

      <dt>Stage</dt>
      <dd>{{ demand.stage }}</dd>
    </dl>
  </div>
  <div class="col-md-7">
    <dl class="attributes">
      <dt>Profile</dt>
      <dd>
        {{ demand.profile }}
        <span class="bracketed">{{ demand.specializations }}</span>
      </dd>

      <dt>Requisition</dt>
      <dd>{{ demand.requestId }}</dd>

      <dt>Candidates</dt>
      <dd class="full-width">
        <ul *ngIf="hasCandidates" class="candidates">
          <li *ngFor="let candidate of demand.candidates;let i = index" [ngClass]="demand.candidatesStati[i]">{{ candidate }} <span>({{ demand.candidatesStati[i] }})</span></li>
        </ul>
      </dd>

      <dt>Requirements</dt>
      <dd class="full-width"><div class="md scrollable" [innerHTML]="demand.requirements|markdown"></div></dd>

      <dt>Comments</dt>
      <dd class="full-width"><div class="md scrollable" [innerHTML]="demand.comment|markdown"></div></dd>
    </dl>
  </div>
</div>
