<spinner [isShown]="isLoading">
  <ng-container *ngIf="isAvailable">
    <div class="feedbacks row">
      <div class="col-md-6">
        <h2>Charts</h2>
      </div>
      <div class="col-md-6">
        <h2>Feedbacks</h2>
        <ul>
          <li *ngFor="let feedback of feedbacks">
            {{ feedback.feedbackDate|date }} from {{ feedback.senderGrade }} @{{ feedback.accountTitle }}
            <div>{{ feedback.comment }}</div>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
  <div *ngIf="!isAvailable">No feedbacks have been submitted yet</div>
</spinner>
