<spinner>
  <div class="history">
    <ul class="diffs">
      <li *ngFor="let diff of items">
        <time>{{ diff.date|date }}</time>
        <ul>
          <li *ngFor="let key of diff.diff|keys">
            <b>{{ key }}:</b>
            <i *ngIf="key === 'payRate'; else noMoney" class="fa fa-eye" [ngbTooltip]="diff.diff[key][0] + ' &rarr; ' + diff.diff[key][1]"></i>
            <ng-template #noMoney>
              <span [innerHTML]="diff|diff:key|cut:500|markdown" class="md"></span>
            </ng-template>
          </li>
          <li *ngIf="diff.diff == 1" class="joined">added</li>
          <li *ngIf="diff.diff == -1" class="left">removed</li>
        </ul>
      </li>
    </ul>
    <div class="empty" *ngIf="!items || !items.length">No records found</div>
  </div>
</spinner>