<spinner [isShown]="isLoading">
  <dl class="attributes">
    <dt>Title</dt>
    <dd>{{ requisition.title }}</dd>

    <dt>Category</dt>
    <dd>{{ requisition.category }}</dd>

    <dt>Department</dt>
    <dd>{{ requisition.department }}</dd>

    <dt>State</dt>
    <dd>{{ requisition.jobState }}</dd>

    <dt>Location</dt>
    <dd>{{ requisition.location }}</dd>

    <dt>Posting Type</dt>
    <dd>{{ requisition.postingType }}</dd>

    <dt>JobVite Link</dt>
    <dd>
      <a [href]="getJvRequisitionLink(requisition)" target="_blank">
        {{ requisition.requisitionId }}
        <i class="fa fa-external-link-square"></i>
      </a>
    </dd>

  </dl>
</spinner>