<spinner [isShown]="isLoading">
  <div class="user row">
    <div class="col-md-6">
      <dl class="attributes">
        <dt>Location</dt>
        <dd>{{ person.location }}</dd>

        <dt>Profile</dt>
        <dd>{{ person.profile }}<span *ngIf="person.specialization"> ({{ person.specialization }})</span></dd>

        <dt>Grade</dt>
        <dd>{{ person.grade }}</dd>

        <dt>Pool</dt>
        <dd>{{ person.pool }}</dd>

        <dt>Manager</dt>
        <dd>{{ person.manager }}</dd>

        <dt>Next PR</dt>
        <dd>{{ person.nextPr|date }}</dd>

        <ng-container *ngIf="person.payRate">
          <dt>Pay Rate</dt>
          <dd><i class="fa fa-eye" [ngbTooltip]="person.payRate"></i></dd>
        </ng-container>

      </dl>

    </div>
    <div class="col-md-6">
      <dl class="attributes">
        <dt>Visas</dt>
        <dd><ul *ngIf="hasVisas()" class="visas">
            <li *ngFor="let visa of person.visas">
              {{ visa.type }}<span [ngClass]="{expired: isExpired(visa.till)}">{{ visa.till|date }}</span></li>
          </ul></dd>

        <dt>English</dt>
        <dd class="md english" [innerHTML]="person.english|markdown"></dd>

        <dt>Skype</dt>
        <dd><a [href]="getSkype()" *ngIf="person.skype">{{ person.skype }}</a></dd>

        <dt>Room</dt>
        <dd>{{ person.room }}</dd>

        <dt>Phone</dt>
        <dd>{{ person.phone }}</dd>

        <ng-container *ngIf="person.birthday">
          <dt>Birthday</dt>
          <dd>{{ person.birthday|date }}</dd>
        </ng-container>

        <dt>Driver's License</dt>
        <dd>{{ person.license }}</dd>
      </dl>
    </div>
  </div>
</spinner>
