<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Assignment Details</h4>
  </div>
  <div class="modal-body">
    <img class="avatar" src="{{ assignee.login|avatarUrl }}">

    <dl class="attributes">
      <dt>Assignee</dt>
      <dd>{{ getAssigneeName() }}</dd>

      <dt>Profile</dt>
      <dd>{{ getAssigneeProfile() }}</dd>

      <hr>

      <dt>Account</dt>
      <dd>{{ initiative.account }}</dd>

      <dt>Initiative</dt>
      <dd>{{ initiative.name }}</dd>

      <dt>Dates</dt>
      <dd>{{ assignment.start|date }} - {{ assignment.end|date }}</dd>

      <dt>Billability</dt>
      <dd>{{ assignment.billability }}</dd>

      <dt>Involvement</dt>
      <dd>{{ assignment.involvement }}%</dd>

      <dt>Comment</dt>
      <dd>{{ assignment.comment }}</dd>

    </dl>

  </div>
</ng-template>