<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Demand for {{ demand.profile }}</h4>
  </div>
  <div class="modal-body">

    <dl class="attributes">
      <dt>Account</dt>
      <dd>{{ demand.account }}</dd>

      <dt>Dates</dt>
      <dd>{{ demand.start|date }} - {{ demand.end|date }} {{ datesDiff() }}</dd>

      <dt>Grades</dt>
      <dd>{{ demand.grades.join(', ') }}</dd>

      <dt>Locations</dt>
      <dd>{{ demand.locations.join(', ') }}</dd>

      <dt>Deployment</dt>
      <dd>{{ demand.deployment }}</dd>

      <dt>Ack.</dt>
      <dd>{{ demand.acknowledgement }}</dd>

      <dt>Billability</dt>
      <dd>{{ demand.role }}</dd>

      <dt>Stage</dt>
      <dd>{{ demand.stage }}</dd>

      <dt>Request</dt>
      <dd>{{ demand.requestId }}</dd>

      <dt>Comment</dt>
      <dd>{{ demand.comment }}</dd>
    </dl>

  </div>
</ng-template>