<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Assignments Report</h4>
  </div>
  <div class="modal-body assignments report">
    <div class="billability" *ngFor="let billability of ['Billable', 'Non-billable']">
      <h2>{{ billability }} ({{ assignments[billability].length }})</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Account/Initiative</th>
            <th>Start</th>
            <th>End</th>
            <th>Billable</th>
            <th>Involvement</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody *ngFor="let person of assignments[billability]">
          <tr
            *ngFor="let assignment of person.assignmentsArray;let i = index"
            [ngClass]="getClass(assignment)"
          >
            <th [rowSpan]="person.assignmentsCount" *ngIf="!i">{{ person.grade }}, {{ person.name }} ({{ person.location }})</th>
            <td>{{ assignment.account || '-' }}/{{ assignment.initiative || '-' }}</td>
            <td>{{ assignment.start|date }}</td>
            <td>{{ assignment.end|date }}</td>
            <td>{{ assignment.billability }}</td>
            <td>{{ assignment.involvement || 0 }}%</td>
            <td [rowSpan]="person.assignmentsCount" *ngIf="!i" class="neutral">
              <div *ngIf="person.status" [innerHTML]="person.status.text|MarkdownToHtml"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>