<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title right-buttons">
      Assignments Report
      <printable [elementId]="'report'" (stateChanged)="setPrintable($event)"></printable>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body assignments report"  [ngClass]="{printable: isPrintable}" id="report">
    <div class="billability" *ngFor="let billability of ['Billable', 'Non-billable']">
      <h2>{{ billability }} ({{ assignments[billability].length }})</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Assignment</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let person of assignments[billability]">
            <tr *ngFor="let assignment of person.assignmentsArray;let i = index">
              <td [rowSpan]="person.assignmentsCount || 1" *ngIf="!i" [ngClass]="getClass(person)">
                <p>{{ person.name }}</p>
                <p>{{ person.grade }}, {{ person.location }}</p>
              </td>
              <td [ngClass]="getClass(assignment)">
                <p>{{ assignment.account || '-' }}/{{ assignment.initiative || '-' }}</p>
                <p>{{ assignment.start|date }} - {{ assignment.end|date }}</p>
                <p>{{ assignment.involvement || 0 }}% {{ assignment.billability }}</p>
              </td>
              <td [rowSpan]="person.assignmentsCount || 1" *ngIf="!i">
                <div *ngIf="person.status" [innerHTML]="person.status.text|markdown" class="md"></div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>