<div>
  <div class="alert alert-info message" *ngIf="message">{{ message }}</div>
  <h1>Requisitions ({{ getRequisitions().length }})</h1>

  <!-- <assignment-modal [resources]="resourcesById" [initiatives]="initiatives"></assignment-modal> -->

  <div class="requisitions" *ngIf="getRequisitions().length">
    <ng-container *ngFor="let requisition of getRequisitions()">
      <div class="requisition" *ngIf="requisitionCandidates[requisition.requisitionId] && requisitionCandidates[requisition.requisitionId].length">
        <h5>{{ requisition.requisitionId }}: {{ requisition.title }}</h5>
        <div
          *ngFor="let candidate of requisitionCandidates[requisition.requisitionId]"
          class="row"
        >
          <div class="col-md-2">
            {{ candidate.name }}
          </div>
          <div class="candidates col-md-3">
            {{ candidate.profile }}
          </div>
          <div class="candidates col-md-3">
            {{ candidate.state }}
          </div>
          <div class="candidates col-md-2">
            {{ candidate.updated|date }}
          </div>
          <div class="candidates col-md-2">
            {{ getLocation(candidate) }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>