<div>
  <div class="alert alert-info message" *ngIf="message">{{ message }}</div>
  <h1>Candidates</h1>

  <!-- <assignment-modal [resources]="resourcesById" [initiatives]="initiatives"></assignment-modal> -->

  <div class="requisitions" *ngIf="getRequisitions().length">
    <div *ngFor="let requisition of getRequisitions()" class="requisition">
      <h3>{{ requisition.requisitionId }}: {{ requisition.title }}</h3>
      <div
        *ngFor="let candidate of requisition.candidates; let i = index"
        class="row"
      >
        <div class="col-md-2">
          {{ candidate.name }}
        </div>
        <div class="candidates col-md-10">
          {{ candidate.name }}
        </div>
      </div>
  </div>
</div>