<requisition-modal></requisition-modal>

<demand-modal></demand-modal>

<person-modal-new></person-modal-new>

<div class="deadpool row">
  <div class="col-md-4" *ngFor="let type of types">
    <h3>{{ typeNames[type] }}</h3>
    <div class="date" *ngFor="let date of getDatesFor(type)">
      <h4>{{ date }}</h4>

      <div *ngFor="let diff of diffs[type][date]">
        <span *ngIf="type === 'r'">
          <a (click)="showPerson(diff)">
            {{ diff.title|ellipsis:diff.subject }}
          </a>
        </span>
        <span *ngIf="type === 'd'">
          <a (click)="showDemand(diff)">
            {{ makeDemandCaption(diff.subject) }}
          </a>
        </span>
      	<span *ngIf="type === 'c'">
          <a (click)="showRequisition(diff)">{{ makeReq(diff.subject) }}</a>:
          {{ diff.title }}
        </span>
      	<ul *ngIf="hasDiff(diff)">
      		<li *ngFor="let key of diff.diff|keys">
      			<b>{{ key }}:</b>
            <ng-container *ngIf="key !== 'payRate'">
              {{ diff.diff[key][0]|ellipsis:'...' }}
              &rarr;
              {{ diff.diff[key][1]|ellipsis:'...' }}
            </ng-container>
              <i *ngIf="key === 'payRate'" class="fa fa-eye" [title]="diff.diff[key][0] + ' &rarr; ' + diff.diff[key][1]"></i>
          </li>
      	</ul>
        <span *ngIf="diff.diff === 1" class="joined">added</span>
        <span *ngIf="diff.diff === -1" class="left">removed</span>
      </div>
    </div>
  </div>
</div>