<h1>Dashboard</h1>

<div class="dashboard row">
  <div class="notes col-md-8">
    <h2>Notes</h2>
    <spinner [isShown]="isLoading">
      <div class="comments">
        <div class="new">
          <button class="btn btn-primary" (click)="add()">Add</button>
        </div>
        <comment
          *ngFor="let comment of aggregated"
          [comment]="comment"
          (callback)="commentCallback()"
        ></comment>
        <div class="empty" *ngIf="!aggregated.length">No records found</div>
      </div>
    </spinner>
  </div>
</div>