<h2>{{ title }}</h2>
<spinner [isShown]="isLoading" class="query-widget">
  <table class="query table">
    <thead>
      <tr>
        <th *ngFor="let column of keys">{{ tableColumns[column]|deCamel }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resource of items" [ngClass]="getLineClass(resource)">
        <td *ngFor="let column of keys"><span class="md" [innerHTML]="resource|column:column|markdown" *ngIf="resource|column:column"></span></td>
      </tr>
    </tbody>
  </table>
</spinner>