<ul class="badges" (mouseenter)="isHovered=true" (mouseleave)="isHovered=isEditing||false" (click)="cancelBubbling($event)" [ngClass]="getClass()">
  <li *ngFor="let badge of badges" [ngStyle]="getBadgeStyle(badge)" [ngClass]="badge.className" (click)="clicked(badge, $event)">{{ getBadgeCaption(badge) }}<a *ngIf="allowManagement" (click)="delete(badge, $event)">&times;</a></li>
  <li *ngIf="allowManagement" class="new clickable" (click)="add()" [ngStyle]="getBadgeStyle(newBadge)">
    <ng-container *ngIf="!isEditing">+</ng-container>
    <form *ngIf="isEditing" autocomplete="off">
      <ul class="typeahead" *ngIf="suggestions">
        <li *ngFor="let existingBadge of suggestions;let i = index" [ngClass]="{selected:i==suggestionIndex}" (click)="selectSuggestion(i, true)">{{ existingBadge.title }}</li>
      </ul>
      <input type="text" [(ngModel)]="newBadge.title" name="title" (keyup)="hotKeysHandler($event)" #title>
      <input type="color" [(ngModel)]="newBadge.color" name="color" (change)="focus()">
    </form>
  </li>
</ul>
