<div class="row">
  <div class="col-md-6">
    <h1>Synchronize</h1>
    <ul class="tasks">
      <li>
        <task name="cleanup" [props]="tasks" [stati]="stati" (setState)="collectTasks($event)"></task>
      </li>
    </ul>
    <button
      (click)="sync()"
      class="btn btn-danger"
      [disabled]="isLoading"
    >
      Sync
    </button>
    <div class="log" #log>
      <ol>
        <li *ngFor="let log of logs">{{ log }}</li>
      </ol>
    </div>
  </div>
  <div class="col-md-6 backup">
    <h1>Backup</h1>
    <a href="/api/backup" target="blank">Download users comments backup file</a>

    <h1 class="restore">Restore</h1>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="backup">Restore users comments from the backup file:</label>
        <input type="file" class="form-control-file" id="backup" name="backup"  (change)="onFileChange($event)" #fileInput required>
      </div>
      <button type="submit" [disabled]="form.invalid || isLoading" class="btn btn-primary">
        Restore
      </button>
    </form>
  </div>

</div>
