<h1>Synchronize</h1>
<div class="row">
  <div class="col-md-4 col-lg-3">
    <ul class="tasks">
      <li>
        <task name="cleanup" [props]="tasks" [stati]="stati" (setState)="collectTasks($event)"></task>
      </li>
    </ul>
    <button
      (click)="sync()"
      class="btn btn-danger"
      [disabled]="isLoading"
    >
      Sync
    </button>
  </div>
  <div class="col-md-8 col-lg-9">
    <div class="log" [ngClass]="{error: hasErrors}" #log>
      <ol>
        <li *ngFor="let log of logs" [ngClass]="getLogStyle(log)">{{ log }}</li>
      </ol>
    </div>
  </div>
</div>
<div class="backup-restore row">
  <div class="col-md-4">
    <h1>Backup</h1>
    <a href="/api/backup" target="blank">Download users comments backup file</a>
  </div>
  <div class="col-md-4">
    <h1>Restore</h1>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="backup">Restore users comments from the backup file:</label>
        <input type="file" class="form-control-file" id="backup" name="backup"  (change)="onFileChange($event)" #fileInput required>
      </div>
      <button type="submit" [disabled]="form.invalid || isLoading" class="btn btn-primary">
        Restore
      </button>
    </form>
  </div>
  <div class="col-md-4">
    <h1>Cleanup</h1>
    <a href="javascript:void(0)" (click)="cleanup()">Remove obsolete comments</a>
  </div>

</div>
