<div>
  <h1>People ({{ items.length }})</h1>

  <person-modal></person-modal>

  <demand-modal></demand-modal>

  <comments-modal></comments-modal>

  <table class="people table">
    <thead>
      <tr>
        <th *ngFor="let column of keys">{{ columns[column] }}</th>
      </tr>
    </thead>
    <tr *ngFor="let resource of items">
      <td
        *ngFor="let column of keys"
        (click)="click(column, resource)"
        [ngClass]="getClasses(column)"
        >
          <div>
            <div
              class="corner"
              [ngClass]="{'has-status': resource.status}"
              (click)="showResource(resource, true, $event)"
              *ngIf="column == 'name'"
            >
              <b>{{ resource.commentsCount || '' }}</b>
            </div>
          </div>
          <span [innerHTML]="resource|column:column|markdown"></span>
        </td>
    </tr>
  </table>

</div>