<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{ person.name }}</h4>
  </div>
  <div class="modal-body with-image">
    <img class="avatar" src="{{ person.login|avatarUrl }}">
    <dl class="attributes">
      <dt>Location</dt>
      <dd>{{ person.location }}</dd>

      <dt>Profile</dt>
      <dd>
        {{ person.profile }}
        <span *ngIf="person.specialization"> ({{ person.specialization }})</span>
      </dd>

      <dt>Grade</dt>
      <dd>{{ person.grade }}</dd>

      <dt>Pool</dt>
      <dd>{{ person.pool }}</dd>

      <dt>Manager</dt>
      <dd>{{ person.manager }}</dd>

      <dt>Skype</dt>
      <dd><a [href]="'skype:' + person.skype + '?chat'" *ngIf="person.skype">{{ person.skype }}</a></dd>

      <dt>Room</dt>
      <dd>{{ person.room }}</dd>

      <dt>Phone</dt>
      <dd>{{ person.phone }}</dd>

    </dl>
  </div>
</ng-template>