<div class="editor" *ngIf="isVisible">
  <div class="row">
    <div class="col-md-6">
      <h1>Edit form</h1>
      <form class="form" [formGroup]="form">
        <div class="form-group">
          <input class="form-control" type="text" name="subject" formControlName="subject" placeholder="Source">
        </div>
        <div class="form-group">
          <textarea class="form-control" name="content" formControlName="content" placeholder="Content (required)" required rows="4" (keydown)="reposition($event)" (scroll)="reposition($event)"></textarea>
        </div>
        <div class="buttons">
          <button type="" class="btn btn-primary" (click)="close(true)" [disabled]="!isFormValid()">Save</button>
          <button type="" class="btn btn-default" (click)="close()">Discard</button>
        </div>
        <div class="form-check inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" formControlName="isStatus">
            This should be considered as a current status
          </label>
        </div>
      </form>

    </div>
    <div class="col-md-6" #markdown>
      <h1>Markdown</h1>
      <div class="md" [innerHTML]="''|markdown"></div>
    </div>
  </div>
</div>