<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Notes about {{ person.name || (person.account + '/' + person.profile) }}</h4>
  </div>
  <div class="comments-modal modal-body">
    <ngb-tabset (tabChange)="tabChange($event)" #tabs="ngbTabset">
      <ngb-tab title="All Notes" id="comments">
        <ng-template ngbTabContent>
          <div class="comments">
            <div
              *ngFor="let comment of aggregated"
              [ngClass]="{status: comment.isStatus}"
            >
              <div class="date">
                {{ comment.date|date }}
                <span>
                  <a (click)="delete(comment)"><i class="fa fa-trash"></i></a>
                  <a (click)="startEditing(comment, tabs)"><i class="fa fa-pencil"></i></a>
                </span>
              </div>
              <h6 *ngIf="comment.source">{{ comment.source }}</h6>
              <div [innerHTML]="comment.text|MarkdownToHtml"></div>
            </div>
          </div>
          <div class="empty" *ngIf="!aggregated.length">No comments added yet</div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Add" id="add">
        <ng-template ngbTabContent>
          <div class="comment">
            <div class="row">
              <div class="col-md-8">
                <form class="form" [formGroup]="form">
                  <div class="form-group">
                    <input class="form-control" type="text" name="source" formControlName="source" placeholder="Source">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="text" formControlName="text" placeholder="Comment" required rows="7"></textarea>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" formControlName="isStatus">
                      This should be considered as a current status
                    </label>
                  </div>
                </form>
              </div>
              <div class="col-md-4">
                Preview:
                <div class="preview" [innerHTML]="form.value.text|MarkdownToHtml"></div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Skills" id="skills" *ngIf="hasSkills(person)">
        <ng-template ngbTabContent>
          <spinner [isShown]="skillsFetching">
            <div class="skills row">
              <div class="col-md-7">
                <ul class="categories" *ngIf="skills && skills.skillsDefined">
                  <ng-container *ngFor="let category of skills.categories">
                    <li *ngIf="category.skillsDefined">
                      <h2>{{ category.name }}</h2>
                      <ul *ngIf="category.categories">
                        <ng-container *ngFor="let sub of category.categories">
                          <li *ngIf="sub.skillsDefined">
                            <h3>{{ sub.name }}</h3>
                            <skillset [skills]="sub.skills"></skillset>
                          </li>
                        </ng-container>
                      </ul>
                      <skillset [skills]="category.skills"></skillset>
                    </li>
                  </ng-container>
                </ul>
              </div>
              <div class="col-md-5" *ngIf="skillsInfo">
                <h2>Surveys</h2>
                <ng-container *ngFor="let state of surveyStates|keys">
                  <ng-container *ngIf="skillsInfo.surveys[state]">
                    <h3>{{ surveyStates[state] }}</h3>
                    <ul *ngIf="skillsInfo.surveys" class="surveys">
                      <li *ngFor="let survey of skillsInfo.surveys[state]">
                        <b>{{ survey.grade_id }}
                        {{ survey.name }}</b>:
                        {{ survey.declared_percent }}% declared,
                        {{ survey.approved_percent }}% approved
                      </li>
                    </ul>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </spinner>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="modal-footer" *ngIf="isFormActive">
    <button
      class="btn btn-primary pull-left"
      [disabled]="!form.valid || !hasChanges()"
      (click)="saveComplex(tabs)"
    ><i class="fa fa-floppy-o"></i> Save</button>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" [(ngModel)]="closeAfterSaving">
        Close after saving
      </label>
    </div>
  </div>
</ng-template>