<div class="filter form-row">
  <div class="form-group">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="E.g. UI Demands Staffing"
        [(ngModel)]="title"
      >
      <div class="input-group-btn">
        <button type="button" class="btn btn-secondary" (click)="save()" *ngIf="title" title="Save">
          <i class="fa fa-check"></i>
        </button>
        <button type="button" class="btn btn-secondary" *ngIf="selectedPlan._id" (click)="delete()" title="Delete">
          <i class="fa fa-times"></i>
        </button>
        <button type="button" class="btn btn-secondary" *ngIf="selectedPlan._id" (click)="reset()" title="Clone">
          <i class="fa fa-clipboard"></i>
        </button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a
            class="dropdown-item"
            *ngFor="let plan of getPlans()"
            (click)="select(plan)"
          >{{ plan.title }}</a>
        </div>
      </div>
    </div>
    <small class="form-text text-muted">Demand plan title</small>
  </div>
</div>