<div>
  <div class="alert alert-info message" *ngIf="message">{{ message }}</div>
  <div class="row">
    <h1 class="col-md-7">
      <span (click)="showReport()"><i class="fa fa-file-text-o"></i></span>
      Demand Planning Board
    </h1>
    <div class="col-md-5">
      <demand-plan [rowsLogins]="reserved" (planHasChanged)="setReservations($event)"></demand-plan>
    </div>
  </div>

  <assignment-modal></assignment-modal>

  <person-modal></person-modal>

  <demand-modal></demand-modal>

  <candidate-modal></candidate-modal>

  <requisition-modal></requisition-modal>

  <report-modal [accountsDemand]="accountsDemand" [candidates]="candidates"></report-modal>

  <spinner>
    <div class="planner row" *ngIf="items.length">
      <div class="col-md-3 demands lines">
        <div class="filters row" [ngClass]="{sticky: bofOffset !== 'auto'}">
          <ul class="col-xl-2 col-lg-3 col-md-6">
            <h6>Shore</h6>
            <li><label><input type="checkbox" [(ngModel)]="filterDeployments.onsite">ON</label></li>
            <li><label><input type="checkbox" [(ngModel)]="filterDeployments.offshore">OFF</label></li>
          </ul>
          <ul class="col-xl-2 col-lg-3 col-md-6">
            <h6>Status</h6>
            <li><label><input type="checkbox" [(ngModel)]="filterStates.FC">FC</label></li>
            <li><label><input type="checkbox" [(ngModel)]="filterStates.VA">VA</label></li>
            <li><label><input type="checkbox" [(ngModel)]="filterStates.SP">SP</label></li>
          </ul>
          <ul class="col-xl-8 col-lg-6 col-md">
            <h6>Location</h6>
            <li *ngFor="let location of locations"><label><input type="checkbox" [(ngModel)]="filterLocations[location]">{{ location }}</label></li>
            <li><label><input type="checkbox" (click)="toggleLocations($event)" checked>ALL</label></li>
            <li><label><input type="checkbox" [(ngModel)]="filterUsers">Users</label></li>
          </ul>
          <ul class="col-xs-12">
            <h6>Badges <a (click)="resetBadges()" *ngIf="badgesAreSelected">&times;</a></h6>
            <li *ngFor="let badge of chosenBadges;let i = index" [ngStyle]="getBadgeStyle(badge)" class="badge">{{ getBadgeCaption(badge) }} <a (click)="removeBadge(i)">&times;</a></li>
            <caption *ngIf="!badgesAreSelected">Any</caption>
          </ul>
        </div>
        <div class="account" *ngFor="let account of getAccounts()">
          <h3>{{ account }}</h3>
          <ng-container
            *ngFor="let demand of accountsDemand[account]"
          >
            <div
              *ngIf="isDemandVisible(demand)"
              class="line"
              (click)="showResource(demand)"
              [ngClass]="getDemandStyles(demand)"
            >
              <time>{{ demand.start|date:'noyear' }}</time>
              <div
                class="corner"
                (click)="showResource(demand, true, $event)"
                [ngClass]="{'has-status': demand.status}"
                container="body"
                placement="top-left"
                [ngbTooltip]="getCurrentStatus(demand)"
              >
                <b>{{ demand.commentsCount || '' }}</b>
              </div>
              <badger [itemId]="demand.login" [compactView]="true" [allowManagement]="false" (click)="toggleBadge($event)"></badger>
              <div
                class="bottom-corner"
                container="body"
                placement="top-left"
                [ngbTooltip]="getDemandCandidate(demand)"
                *ngIf="getDemandCandidate(demand)"
              >
                <i class="fa fa-info-circle"></i>
              </div>
              <i class="fa fa-plane" *ngIf="isOnsite(demand)"></i>
              {{ demand.name }} <u>{{ demand.project }}</u>
              <span>
                <ul class="requisitions" *ngIf="demand.requestId.length"><li *ngFor="let req of getDemandRequisitions(demand);let i = index"><a (click)="showRequisition(req, $event)" [ngClass]="showReqStatus(demand, i)">{{ req }}</a></li></ul>
                {{ getDemandAttrs(demand) }}
              </span>
              <span [title]="demand.comment">{{ demand.comment || demand.requirements }}</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-md-9 candidates">
        <div class="lines" [ngStyle]="{width: (getCandidatesCount() * cardWidth) + 'px'}">
          <ol #sticky [ngStyle]="{top: bofOffset}" [ngClass]="{sticky: bofOffset !== 'auto'}">
            <ng-container *ngFor="let candidate of candidates">
              <li
                *ngIf="isUserVisible(candidate)"
                (click)="showResource(candidate)"
                [ngClass]="getCardClass(candidate)"
              >
                <avatar [login]="candidate.login" [useDefault]="candidate.isHiree">
                  <badger [itemId]="candidate.login" [compactView]="true" [allowManagement]="false" (click)="toggleBadge($event)"></badger>
                  <a (click)="showRequisition(candidate.requisitionId, $event)" *ngIf="candidate.requisitionId">
                    {{ candidate.requisitionId }}
                  </a>
                  <span *ngIf="candidate.onVacation">{{ candidate.onVacation|date }}</span>
                  <span *ngIf="candidate.starts">{{ candidate.starts|date }}</span>
                  <i class="fa fa-umbrella" *ngIf="candidate.funded" title="Funded"></i>
                </avatar>
                <section>
                  <demand *ngFor="let login of candidate.proposed" [login]="login" (show)="showResource($event)"></demand>
                </section>
                <caption>
                  {{ candidate.name }}
                  <span>
                    <i class="fa fa-bed" *ngIf="candidate.onVacation"></i>
                    <i class="fa fa-globe" *ngIf="candidate.onTrip"></i>
                    <i class="fa fa-plane" *ngIf="candidate.canTravel"></i>
                    {{ getCandidateCaption(candidate) }}
                  </span>
                </caption>
                <div
                  class="status"
                  container="body"
                  placement="top-right"
                  [ngbTooltip]="getCurrentStatus(candidate)"
                  (click)="showResource(candidate, true, $event)"
                >
                  <div
                    class="corner"
                    [ngClass]="{'has-status': candidate.status}"
                  >
                    <b>{{ candidate.commentsCount || '' }}</b>
                  </div>
                  <span [innerHTML]="getCurrentStatus(candidate)|markdown"></span>
                </div>
              </li>
            </ng-container>
          </ol>
          <div class="account" *ngFor="let account of getAccounts()">
            <ng-container *ngFor="let demand of accountsDemand[account]">
              <div *ngIf="isDemandVisible(demand)" class="line">
                <ng-container *ngFor="let candidate of candidates">
                  <div
                    *ngIf="isUserVisible(candidate)"
                    (click)="reserve(candidate, demand)"
                    [ngClass]="getCheckStyles(candidate, demand)"
                  >
                    <i class="fa fa-check"></i><i class="fa fa-check"></i>&nbsp;
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </spinner>
</div>