<div>
  <h4>Demand Planner Board</h4>

  <assignment-modal [resources]="resourcesById" [initiatives]="initiatives"></assignment-modal>

  <person-modal></person-modal>

  <demand-modal></demand-modal>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10"></div>
  </div>

  <div class="planner row" *ngIf="items.length">
    <div class="col-md-2 demands lines">
      <div class="account" *ngFor="let account of getAccounts()">
        <span>{{ account }}</span>
        <div
          *ngFor="let demand of accountsDemand[account]"
          class="line"
          (click)="showResource(demand)"
          [ngClass]="{covered: reserved[demand._id]}"
        >
          <i class="fa fa-plane" *ngIf="isOnsite(demand)"></i>
          {{ demand.profile }}
        </div>
      </div>
    </div>
    <div class="col-md-10 candidates">
      <div class="lines" [ngStyle]="{width: (candidatesCount * 100) + 'px'}">
        <ol>
          <li
            *ngFor="let candidate of candidates;let x = index"
            [ngStyle]="{left: (100 * x) + 'px'}"
            (click)="showResource(candidate)"
            [ngClass]="{billable: candidate.billable, assigned: isAssigned(candidate)}"
          >
            <img class="avatar" src="{{ candidate.login|avatarUrl }}">
            {{ candidate.name }}
            <span>
              <i class="fa fa-plane" *ngIf="candidate.canTravel"></i> 
              {{ candidate.grade }}, {{ candidate.location }}
            </span>
          </li>
        </ol>
        <div class="account" *ngFor="let account of getAccounts()">
          <div *ngFor="let demand of accountsDemand[account]" class="line">
            <div
              *ngFor="let candidate of candidates"
              (click)="reserve(candidate, demand)"
              [ngClass]="{matched: getReservation(candidate, demand)}"
            >
              <i class="fa fa-check" *ngIf="getReservation(candidate, demand)"></i>&nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>