<div>
  <h1><span (click)="showReport()">Show Report</span>Demand Planning Board</h1>

  <assignment-modal [resources]="resourcesById" [initiatives]="initiatives"></assignment-modal>

  <person-modal></person-modal>

  <demand-modal></demand-modal>

  <comments-modal></comments-modal>

  <report-modal [accountsDemand]="accountsDemand" [candidates]="candidates"></report-modal>

  <demand-plan [rowsLogins]="reserved" (planHasChanged)="setReservations($event)"></demand-plan>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10"></div>
  </div>

  <div class="planner row" *ngIf="items.length">
    <div class="col-md-2 demands lines">
      <div class="account" *ngFor="let account of getAccounts()">
        <h3>{{ account }}</h3>
        <div
          *ngFor="let demand of accountsDemand[account]"
          class="line"
          (click)="showResource(demand, true)"
          [ngClass]="{covered: reserved[demand.row]}"
        >
          <i class="fa fa-plane" *ngIf="isOnsite(demand)"></i>
          {{ demand.profile }}
          <span>{{ getDemandAttrs(demand) }}</span>
          <span [title]="demand.comment">{{ demand.comment }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-10 candidates">
      <div class="lines" [ngStyle]="{width: (candidatesCount * cardWidth) + 'px'}">
        <ol #sticky [ngStyle]="{top: bofOffset}" [ngClass]="{sticky: bofOffset !== 'auto'}">
          <li
            *ngFor="let candidate of candidates;let x = index"
            (click)="showResource(candidate)"
            [ngClass]="{billable: candidate.billable, assigned: isAssigned(candidate)}"
          >
            <img class="avatar" src="{{ candidate.login|avatarUrl }}">
            {{ candidate.name }}
            <span>
              <i class="fa fa-plane" *ngIf="candidate.canTravel"></i>
              {{ candidate.grade }}, {{ candidate.location }}
            </span>
            <div
              class="status"
              container="body"
              placement="top-right"
              [ngbTooltip]="getCurrentStatus(candidate)"
              (click)="showComments(candidate, $event)"
              [innerHTML]="getCurrentStatus(candidate)|MarkdownToHtml"
            >
            </div>
          </li>
        </ol>
        <div class="account" *ngFor="let account of getAccounts()">
          <div *ngFor="let demand of accountsDemand[account]" class="line">
            <div
              *ngFor="let candidate of candidates"
              (click)="reserve(candidate, demand)"
              [ngClass]="{matched: getReservation(candidate, demand)}"
            >
              <i class="fa fa-check" *ngIf="getReservation(candidate, demand)"></i>&nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>