<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Demand Staffing Report</h4>
  </div>
  <div class="modal-body demand report">

    <div *ngFor="let account of getAccounts()">
      <h2>{{ account }}</h2>
      <table>
        <thead>
          <tr>
            <th>Demand</th>
            <th>Candidate</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let demand of getAccountDemand(account)">
            <th>
              <h6>#{{ demand.name }} ({{ stages[demand.stage] }})</h6>
              <p *ngIf="demand.comment" [innerHTML]="demand.comment|cut:100|markdown"></p>
              <p *ngIf="demand.requestId.length">Jobvite: <b>{{ demand.requestId }}</b></p>
            </th>
            <td>
              <span *ngIf="demand.candidate.name">
                <p>{{ demand.candidate.name }} ({{ demand.candidate.grade }}, {{ demand.candidate.location }})</p>
                <p *ngIf="demand.candidate.canTravel">Has US visa</p>
              </span>
            </td>
            <td [innerHTML]="demand.combinedStatus|markdown"></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</ng-template>