<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Demand Staffing Report</h4>
  </div>
  <div class="modal-body report">

    <div *ngFor="let account of getAccounts()">
      <h2>{{ account }}</h2>
      <table>
        <thead>
          <tr>
            <th>Position</th>
            <th>Summary</th>
            <th>Candidate</th>
            <th>Gr.</th>
            <th>Loc.</th>
            <th>Visa?</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let demand of getAccountDemand(account)">
            <th>{{ demand.profile }}{{ getDetails(demand) }}</th>
            <th>
              <p *ngIf="demand.comment">{{ demand.comment }}</p>
              <p *ngIf="demand.requestId">Jobvite requisition: <b>{{ demand.requestId }}</b></p>
            </th>
            <td
              *ngFor="let value of getCandidate(demand)"
              [innerHTML]="value|MarkdownToHtml"
            ></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</ng-template>