<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" [ngClass]="{printable: isPrintable}">
    <h4 class="modal-title right-buttons">
      <printable [elementId]="'report'" (stateChanged)="setPrintable($event)"></printable>
      Demand Staffing Report
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body demand report" [ngClass]="{printable: isPrintable}" id="report">
    <div *ngFor="let account of getAccounts()">
      <h2>{{ account }}</h2>
      <table [ngClass]="{table: !isPrintable}">
        <thead>
          <tr>
            <th>Demand</th>
            <th>Candidate</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let demand of getAccountDemand(account)">
            <td>
              <p><b>#{{ getDemandTitle(demand) }}</b> @{{ demand.project }}</p>
              <p>{{ demand.locations || 'Any location' }} &rarr; {{ demand.deployment }}</p>
              <p>Start: {{ demand.start|date }}</p>
              <p *ngIf="demand.requestId.length">Jobvite: {{ demand.requestId }}</p>
            </td>
            <td>
              <ng-container *ngIf="demand.candidate.name">
                <p>{{ demand.candidate.name }} ({{ demand.candidate.grade }}, {{ demand.candidate.location }})</p>
                <p *ngIf="demand.candidate.canTravel">Has US visa</p>
              </ng-container>
            </td>
            <td class="md" [innerHTML]="demand.combinedStatus|markdown"></td>
          </tr>
        </tbody>
      </table>
    </div>
    &nbsp;
  </div>
</ng-template>