<div *ngIf="!!user">
  <h1>Account settings</h1>

  <form #accountForm="ngForm" (ngSubmit)="save(user)" class="form">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="username">Username</label>
        <input class="form-control" id="username" type="text" name="username" [(ngModel)]="user.username" placeholder="Username" required>
      </div>
      <div class="form-group col-md-4">
        <label for="email">Email</label>
        <input class="form-control" id="email" type="email" name="email" [(ngModel)]="user.email" placeholder="Email" required>
      </div>
      <div class="form-group col-md-4">
        <label for="role">Role</label>
        <select class="form-control" name="role" [(ngModel)]="user.role">
          <option value="" disabled>Role</option>
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!accountForm.form.valid">
      <i class="fa fa-save"></i> Save
    </button>
  </form>
</div>